/* Large devices (mobile, 320px and up) */
@media (max-width: 320px) {
    body {
        text-align: center !important;
    }

    p {
        font-size: 13px !important;
    }

    .loghini {
        display: none !important;
    }

    .logomade {
        width: 250px !important;
        height: auto;
    }

    .toc {
        width: 300px !important;
    }

    .store {
        margin-top: 10px;
    }

    .flux {
        list-style: none;
    }
    .infografic {
        width: 356px;
        height: 250px;
    }
    .landimpage{
        display: none;
    }
    .land{
        display: none;
    }
    .daniele{
        margin-top: -20px !important;
    }
}

/* Medium devices (mobile, 375px and up) */
@media (max-width: 375px) {
    body {
        text-align: center !important;
    }


    p {
        font-size: 14px !important;
    }

    .loghini {
        display: none !important;
    }

    .logomade {
        width: 200px ;
        height: auto;
    }

    .toc {
        width: 300px !important;
    }

    .store {
        margin-top: 10px;
    }

    .flux {
        list-style: none;
    }
    .infografic {
        width: 300px;
        height: 200px;
    }
    .landimpage{
        display: none;
    }
    .land{
        display: none;
    }
    .daniele{
        margin-top: -20px !important;
    }
}
@media screen and (max-width: 780px) {

    .infografic{
        width: 300px;
        height: 250px;
    }
    #herosections{
        background-image: url(../img/mobileovervius.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 103vh;
    }
.bn53{
    margin-top: 10px;
}
.daniele{
    margin-top: 100px;
}
}
@media screen and (max-width: 767px) {

    #herosections{
        background-image: url(../img/mobileovervius.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 120vh;
    }
.bn53{
    margin-top: 10px;
}
.daniele{
    margin-top: 200px;
}
p{
    font-size: 13px !important
}
.col-sm-4{
    margin-left: auto;
}
}


@media (max-width: 425px) {
    body {
        text-align: center !important;
    }

    p {
        font-size: 14px !important;
    }

    .loghini {
        display: none !important;
    }

    .logomade {
        width: 200px ;
        height: auto;
    }

    .toc {
        width: 300px !important;
    }

    .store {
        margin-top: 10px;
    }

    .flux {
        list-style: none;
    }
    .infografic {
        width: 300px;
        height: 200px;
    }
    .landimpage{
        display: none;
    }
    .land{
        display: none;
    }
    .daniele{
        margin-top: -20px !important;
    }
}