* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
        padding: 0;
    font-weight: 700 !important;
    font-weight: bold !important;
}

html {
    scroll-behavior: smooth;
}

a,
a:visited,
a:hover,
a:focus,
button,
button:visited,
button:focus,
button:hover {
    color: initial;
    outline: 0;
}

#herosections {
    height: 100vh;
    background-image: url(../img/con\ cerchio3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

.logomade {
    margin-top: 200px;
    margin-bottom: 20px;
    padding: auto;
    width: 450px;
    height: 100px;
}

.evident {
    color: #4361EE;
    font-weight: bold !important;
}

.infografic{
    width: auto;
    height: 400px;
}

p {
    font-size: 16px;
    padding: 2px;
    font-family: 'Montserrat', sans-serif !important;
        font-weight: 400 !important;
}

.icona {
    width: 50px;
    height: 50px;
    animation: MoveUpDown 1s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;

}


.divid {
    border-bottom: white 2px solid;
}
body{
    background-color: #fff !important;
}

.relend{
background-color: whitesmoke !important;
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

#about {
    background-color: #1e1e1e;
    height: auto;
    color: white;
}

.land{
    width: auto;
    height: auto;
    background-image: url(../img/ufficio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landimpage{
width: auto;
height: auto;
background-image: url(../img/programmi.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.daniele{
    margin-top: 50px;
}

.toc {
    width: 600px;
    height: 100ox;
    border-radius: 70px !important;
    margin-left: auto;
}

.boxfel {
    max-width: 100% !important;

}

.pagins {
    margin-top: 50px;
    color: white;
}

.evidenziato {
    color: #4361EE;
    font-weight: bold;
}
.vision{
    border-top: #1e1e1e 1px solid;
}
.box {
    background-color: #1e1e1e;
    max-width: 100% !important;
}

.divisorio {
    background-image: url(../img/officeman.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-attachment: fixed;
}

.oddd {
    animation: MoveUpDown 1s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;
}

.card-teuden {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 30px;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;
}

.iconawapp {
    width: 50px;
    height: 50px;
}

.bn53 {
    background-color: #4361EE;
    padding: 7px;
    width: 250px;
    animation: bn53bounce 6s infinite;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    height: 50px;
}

.bn53:hover {
    background-color: #1e1e1e;
    color: #4361EE !important;
}

.store {
    background-color: #1e1e1e;
    border: #4361EE solid 1px;
}
a{
    color: #4361EE !important;
}
@keyframes bn53bounce {

    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(1);
    }

    15% {
        transform: scale(1);
    }

    20% {
        transform: scale(1) rotate(-5deg);
    }

    25% {
        transform: scale(1) rotate(5deg);
    }

    30% {
        transform: scale(1) rotate(-3deg);
    }

    35% {
        transform: scale(1) rotate(2deg);
    }

    40% {
        transform: scale(1) rotate(0);
    }
}

#sticky-footer {
    border-top: #1e1e1e 1px solid;
}



footer{
    background-color: #1e1e1e;
    height: auto;
    border-top: 1px solid #fff;
}




























